<h1>Make your form here</h1>

<form action="/pirates" method="POST">
  <h2>Pirate</h2>
  <label for="name">Name</label><br>
  <input id="pirate_name" type="text" name="pirate[name]"><br>
  <label for="name">Name</label><br>
  <input id="pirate_name" type="text" name="pirate[name]"><br>
  <label for="name">Name</label><br>
  <input id="pirate_name" type="text" name="pirate[name]"><br>
  
</form>
